doctype html
html
  head
    include include/meta
    
  body
    #wrapper
      include include/header
      
      #contents
        #main
          input#test_input(type="text")
          input#test_submit(type="submit")

      include include/side

      include include/footer